PORT=3000
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

# Redis 연결 URL (로컬 docker-compose: redis://localhost:6379)
# 컨테이너끼리 docker network로 연결 시: redis://redis:6379
REDIS_URL=redis://localhost:6379